<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="36b014e52e2d46a7b941562d4b5f7aed" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_36b014e52e2d46a7b941562d4b5f7aed = echarts.init(
            document.getElementById('36b014e52e2d46a7b941562d4b5f7aed'), 'white', {renderer: 'canvas'});
        var option_36b014e52e2d46a7b941562d4b5f7aed = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u65e0\u7ecf\u9a8c",
            "data": [
                "4333.5",
                "5596.14",
                "5018.91",
                "5923.05",
                "7286.81",
                null
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u4e00\u5e74\u4ee5\u4e0b",
            "data": [
                "7000.5",
                "5833.37",
                "6916.88",
                "9588.11",
                "11900.2",
                null
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u4e0d\u9650",
            "data": [
                "5167.1",
                "7852.07",
                "13634.06",
                "12984.68",
                "15817.53",
                "22278.8"
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u4e00\u81f3\u4e09\u5e74",
            "data": [
                "7600.4",
                "9669.12",
                "10907.75",
                "12289.26",
                "17290.24",
                "22538.73"
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u4e09\u81f3\u4e94\u5e74",
            "data": [
                "7500.3",
                "13242.82",
                "15411.8",
                "16735.82",
                "24769.05",
                "26800.15"
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u4e94\u81f3\u5341\u5e74",
            "data": [
                "22500",
                "19276.2",
                "21362.82",
                "23044.62",
                "31985.05",
                "43942.33"
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u5341\u5e74\u4ee5\u4e0a",
            "data": [
                null,
                "16250",
                "55000.5",
                "34592.84",
                "40000.5",
                null
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u65e0\u7ecf\u9a8c",
                "\u4e00\u5e74\u4ee5\u4e0b",
                "\u4e0d\u9650",
                "\u4e00\u81f3\u4e09\u5e74",
                "\u4e09\u81f3\u4e94\u5e74",
                "\u4e94\u81f3\u5341\u5e74",
                "\u5341\u5e74\u4ee5\u4e0a"
            ],
            "selected": {
                "\u65e0\u7ecf\u9a8c": true,
                "\u4e00\u5e74\u4ee5\u4e0b": true,
                "\u4e0d\u9650": true,
                "\u4e00\u81f3\u4e09\u5e74": true,
                "\u4e09\u81f3\u4e94\u5e74": true,
                "\u4e94\u81f3\u5341\u5e74": true,
                "\u5341\u5e74\u4ee5\u4e0a": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u4e2d\u4e13",
                "\u5927\u4e13",
                "\u4e0d\u9650",
                "\u672c\u79d1",
                "\u7855\u58eb",
                "\u535a\u58eb"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "subtext": "\u5e73\u5747\u6708\u85aa(\u5143)"
        }
    ]
};
        chart_36b014e52e2d46a7b941562d4b5f7aed.setOption(option_36b014e52e2d46a7b941562d4b5f7aed);
    </script>
</body>
</html>
